.interface-map {
	position:absolute;
	bottom:0px;
	width:100%;
	min-height:500px;
	height:100%;
	
}

.navigation-map {
	width:100%;
	min-height:50px;
	height:100%;
}

.navigation-map-wrapper {
	width:100%;
	min-height:50px;
	height:100%;
}

/*------------------------------------- FOR PROJECT PAGE ----------------------------------*/
body {
background-image: url('../images/there_here_bg.png');
font-family: Helvetica, Arial, sans-serif;
}
	
	
#tah-player{
background-image: url('../images/there_here_bg.png');
display:none;
z-index:1000;
margin: 0;	
width:100%;
height:100%;
min-height:500px;
position: fixed;
display:none;
}


#fullscreen{
background-image: url('../images/fullscreen.png');
background-size:cover;
position:absolute;
z-index:2000;
width:24px;
height:24px;
top: 160px;
left: 640px;
cursor:pointer;
}

#connection-title {
position:fixed;
left:20px;
top:80px;
font-size:30px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#0099FF;
}

#project-title-wrapper {
position:fixed;
left:20px;
top:130px;
font-size:20px;
font-weight: bold;

text-align: left;
color:#FFFFFF;
}

#tah-zeega-player{
position:fixed;
left:20px;
top:160px;
width:644px;
height:430px;
background-color:#99D6FF;
overflow: hidden;
}

#tah-project-desc {
position:fixed;
left:20px;
top:600px;
width:644px;
height:94px;
overflow-x: hidden;
font-size:12px;
font-weight: bold;
text-align: left;
color:#FFFFFF;
}

#map-top2px dotted #808184;title {
position:fixed;
left:684px;
top:130px;
font-size:20px;
font-weight: bold;
text-align: left;
color:#FFFFFF;
}

#tah-map-top{
position:fixed;
left:684px;
top:160px;
width:320px;
height:240px;
background-color:#99D6FF;
overflow: hidden;
}

#map-bottom-title {
position:fixed;
left:684px;
top:420px;
font-size:20px;
font-weight: bold;
text-align: left;
color:#FFFFFF;
}

#tah-map-bottom{
position:fixed;
left:684px;
top:450px;
width:320px;
height:240px;
background-color:#99D6FF;
overflow: hidden;
}


#zeega-attribution a {

position:fixed;
bottom:2px;
right:2px;
z-index:5000;
font-size:9px;
color:white;
}


.tah-iframe {
width:100%;
height:100%;
border:none;


}


/* ------------------------------------- GLOBAL NAVITAGATION ------------------------------------ */

#sidllink {
	right: 0px;
	width:60px;
	height:60px;
	position: fixed;
	vertical-align: top;
	z-index: 50000;
}

#mainmenu {

position: absolute;
z-index:10001;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 20;
	top:20px;
	left:0px;
	position: fixed;
}

#mainmapul {
	list-style-type: none;
	margin: 0;
	padding: 20;
	top:20px;
	left:50px;
	position: fixed;
}

ul a {
	list-style-type: none;
	font-size:20px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	float: left;
	margin-right: 40px;
	text-decoration: none;
}

ul a:hover {
	color:#0099FF;
	text-decoration: none;
	border-bottom:3px solid; 
}

li {
	list-style-type: none;
	float: left;
	margin: 0;
}


/* ------------------------------------- Contribute ------------------------------------ */

#bodytext{
position:fixed;
left:20px;
line-height:30px;
top:130px;
width:644px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#bodytext a {
	font-size:20px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	text-decoration: none;
	border-bottom:3px solid; 
}

#bodytext a:hover {
	color:#0099FF;
	text-decoration: none;
	border-bottom:3px solid; 
}


/* ------------------------------------- Contribute ------------------------------------ */


/* -------------------------------- Column One ------------------------------- */


#contribute-title {
position:fixed;
left:20px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#/*contribute2px dotted #808184;titlefield*/ {
position:fixed;
left:20px;
top:280px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


#contribute-description {
position:fixed;
left:20px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-descriptionfield {
position:fixed;
left:20px;
top:350px;
width:308px;
height:20px;
background-color:#FFFFFF;
}

#contribute-name {
position:fixed;
left:20px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-namefield {
position:fixed;
left:20px;
top:420px;
width:308px;
height:20px;
background-color:#FFFFFF;
}

#contribute-email {
position:fixed;
left:20px;
top:460px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-emailfield {
position:fixed;
left:20px;
top:490px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


/* -------------------------------- Column Two ------------------------------- */


#contribute-city1name {
position:fixed;
left:348px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-city1namefield {
position:fixed;
left:348px;
top:280px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


#contribute-city1media {
position:fixed;
left:348px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-city1mediafield {
position:fixed;
left:348px;
top:350px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


#contribute-city1map {
position:fixed;
left:348px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-city1mapfield {
position:fixed;
left:348px;
top:420px;
width:308px;
height:200px;
background-color:#99D6FF;
}


/* -------------------------------- Column Three ------------------------------- */


#contribute-city2name {
position:fixed;
left:676px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute-city2namefield {
position:fixed;
left:676px;
top:280px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


#contribute-city2media {
position:fixed;
left:676px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute2px dotted #808184;city2mediafield {
position:fixed;
left:676px;
top:350px;
width:308px;
height:20px;
background-color:#FFFFFF;
}


#contribute2px dotted #808184;city2map {
position:fixed;
left:676px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute2px dotted #808184;city2mapfield {
position:fixed;
left:676px;
top:420px;
width:308px;
height:200px;
background-color:#99D6FF;
}





ul a:hover {

text-decoration: none;

}



.dropdown-menu.main {

max-width:400px;
overflow:hidden;

}


.dropdown-menu.main a {

width:100%;


}

.dropdown-menu.main li {

width:400px;


}











