.interface-map {
	position:absolute;
	bottom:0px;
	width:100%;
	min-height:500px;
	height:100%;
	
}

.navigation-map {
	width:100%;
	min-height:50px;
	height:100%;
}

.navigation-map-wrapper {
	width:100%;
	min-height:50px;
	height:100%;
}

/*------------------------------------- FOR PROJECT PAGE ----------------------------------*/
body {
background-image: url('http://ear-chitecture.com/downloads/there_here_bg.png');
}
	
	
#tah-player{
background-image: url('http://ear-chitecture.com/downloads/there_here_bg.png');
display:none;
z-index:1000;
margin: 0;	
width:100%;
height:100%;
min-height:500px;
position: fixed;
display:none;
}




#connection_title {
position:fixed;
left:20px;
top:80px;
font-size:30px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#0099FF;
}

#project_title {
position:fixed;
left:20px;
top:130px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#tah-zeega-player{
position:fixed;
left:20px;
top:160px;
width:644px;
height:430px;
background-color:#99D6FF;
overflow: hidden;
}

#tah-project-desc {
position:fixed;
left:20px;
top:600px;
width:644px;
height:200px;
overflow: hidden;
font-size:12px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#map-top_title {
position:fixed;
left:684px;
top:130px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#tah-map-top{
position:fixed;
left:684px;
top:160px;
width:320px;
height:240px;
background-color:#99D6FF;
overflow: hidden;
}

#map-bottom_title {
position:fixed;
left:684px;
top:420px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#tah-map-bottom{
position:fixed;
left:684px;
top:450px;
width:320px;
height:240px;
background-color:#99D6FF;
overflow: hidden;
}


#zeega-attribution a {

position:fixed;
bottom:2px;
right:2px;
z-index:5000;
font-size:9px;
color:white;
}


.tah-iframe {
width:644px;
height:430px;
border:none;

}


/* ------------------------------------- GLOBAL NAVITAGATION ------------------------------------ */

#sidllink {
	right: 0px;
	width:60px;
	height:60px;
	position: fixed;
	vertical-align: top;
	z-index: 50000;
}

#mainmenu {

position: absolute;
z-index:10001;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top:20px;
	left:0px;
	position: fixed;
}

ul a {
	list-style-type: none;
	font-size:20px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	float: left;
	margin-right: 40px;
	text-decoration: none;
}

ul a:hover {
	color:#0099FF;
	text-decoration: none;
	border-bottom:3px solid; 
}

li {
	list-style-type: none;
	float: left;
	margin: 0;
}


/* ------------------------------------- Contribute ------------------------------------ */

#bodytext{
position:fixed;
left:20px;
line-height:30px;
top:130px;
width:644px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#bodytext a {
	font-size:20px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	text-decoration: none;
	border-bottom:3px solid; 
}

#bodytext a:hover {
	color:#0099FF;
	text-decoration: none;
	border-bottom:3px solid; 
}


/* ------------------------------------- Contribute ------------------------------------ */
<<<<<<< HEAD

/* -------------------------------- Column One ------------------------------- */


#contribute_title {
position:fixed;
left:20px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_titlefield {
position:fixed;
left:20px;
top:280px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


#contribute_description {
position:fixed;
left:20px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_descriptionfield {
position:fixed;
left:20px;
top:350px;
width:200px;
height:20px;
background-color:#FFFFFF;
}

#contribute_name {
position:fixed;
left:20px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_namefield {
position:fixed;
left:20px;
top:420px;
width:200px;
height:20px;
background-color:#FFFFFF;
}

#contribute_email {
position:fixed;
left:20px;
top:460px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_emailfield {
position:fixed;
left:20px;
top:490px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


/* -------------------------------- Column Two ------------------------------- */


#contribute_city1name {
position:fixed;
left:250px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city1namefield {
position:fixed;
left:250px;
top:280px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


#contribute_city1media {
position:fixed;
left:250px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city1mediafield {
position:fixed;
left:250px;
top:350px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


#contribute_city1map {
position:fixed;
left:250px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city1mapfield {
position:fixed;
left:250px;
top:420px;
width:200px;
height:200px;
background-color:#99D6FF;
}


/* -------------------------------- Column Three ------------------------------- */


#contribute_city2name {
position:fixed;
left:500px;
top:250px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city2namefield {
position:fixed;
left:500px;
top:280px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


#contribute_city2media {
position:fixed;
left:500px;
top:320px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city2mediafield {
position:fixed;
left:500px;
top:350px;
width:200px;
height:20px;
background-color:#FFFFFF;
}


#contribute_city2map {
position:fixed;
left:500px;
top:390px;
font-size:20px;
font-weight: bold;
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color:#FFFFFF;
}

#contribute_city2mapfield {
position:fixed;
left:500px;
top:420px;
width:200px;
height:200px;
background-color:#99D6FF;
}
